
.BgRed .MuiSvgIcon-root {
    color: #df5050 !important;
    font-size: 1rem !important;
}

.BgPrimary .MuiSvgIcon-root {
    color: #727683 !important;
    font-size: 1rem !important;
}

.BgGreen .MuiSvgIcon-root {
    color: #139c35 !important;
    font-size: 1rem !important;
}

.BgGray .MuiSvgIcon-root {
    color: #6d6d6d !important;
    font-size: 1rem !important;
}

#rowIconButton .MuiIconButton-root {
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 8px !important;
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 50%;
}

.MuiTableRow-root {
    color: inherit;
    display: table-row;
    outline: 0;
    /* height: 45px !important; */
    vertical-align: middle;
}


.MuiTableHead-root {
    border-bottom: 2px solid #3388d6a8;
}

.MuiTableCell-head{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.MuiTableCell-body{
    font-size: 12px !important;
    text-overflow:ellipsis; 
    overflow: hidden; 
}